.jogo {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    position: relative;
    background-size: contain;
    background-image: url('../img/background.png');
}

.chao {
    height: 80px;
    width: inherit;
    bottom: 0px;
    position: absolute;
    background-image: url('../img/ground.png');
    background-size: contain;
}

.passaro-slider {
    height: calc(100% - 80px);
    width: 5px;
    margin: 0 190px;
    /* background: greenyellow; */
    position: relative;
}

.passaro {
    left: -30px;
    height: 64px;
    width: 64px;
    bottom: 270px;
    /* background: black; */
    position: absolute;
    display: flex;
    transform: scaleX(-1);
}

.passaro img{
    transform: rotate(0deg);
    width: 64px;
    user-select: none;
}