.filter {
    height: inherit;
    position: absolute;
    z-index: 1;
    width: inherit;
    background: rgb(255 169 22 / 5%);
}

.jogo {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    background-position-y: -100px;
    position: relative;
    background-size: 100%;
    background-image: url(../img/background.png);
    overflow: hidden;
    image-rendering: pixelated;
}

.chao {
    height: 80px;
    width: inherit;
    bottom: 0px;
    position: absolute;
    background-image: url('../img/ground.png');
    background-size: 70%;
}

.passaro-slider {
    height: calc(100% - 80px);
    width: 5px;
    margin: 0 190px;
    /* background: greenyellow; */
    position: relative;
}

.passaro {
    left: -30px;
    height: 35px;
    width: 50px;
    bottom: 240px;
    /* background: black; */
    position: absolute;
    display: flex;
    transform: scaleX(-1);
    image-rendering: auto;
}

.passaro-container {
    transform: rotate(0deg);
    user-select: none;
    width: 50px;
    overflow: hidden;
}

.passaro img {
    /* width: 50px; */
    height: 35px;
    user-select: inherit;
}

.pipes {
    position: absolute;
    height: 1194px;
    right: 0px;
    /* top: -273px; */
}

.pipes img {
    width: 85px;
    height: 1194px;
    user-select: none;
}

.pipe {
    position: absolute;
}

/* .pipemove{
    animation: linear 3.4s movepipe;
} */

@keyframes movepipe {
    0% {
        right: -130px;
    }

    100% {
        right: 600px
    }
}

/* valores: 2 canos: 524px cada, espaço interior:  146px*/
/* ou seja, 
*topo :"524 - valor 'top' de .passaro"
*bottom: "(topo + 111)"
*/