.overlay-jogo{
    display: flex;
    justify-content: center;
    z-index: 10;
    user-select: none;
}

.pontuacao{
    margin-top: 100px;
    user-select: inherit;
}

.pontuacao-valor{
    user-select: inherit;
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 50px;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black
}

.restart{
    position: absolute;
    margin-top: 170px;
    image-rendering: pixelated;
    display: none;
    animation: playAgain .8s;
}

.pontuacao-restart{
    width: 133px;
    height: 200px;
    margin: 0 0 10px 0;
    background-image: url("../img/record.png");
    background-position: center;
    background-size: 115%;
    background-repeat: no-repeat;
    image-rendering: revert;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: red; */
}

.pontuacao-restart *{
    height: 30%;
    user-select: inherit;
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 31px;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.atual{
    margin-top: 33px;
}

@keyframes playAgain {
    0%{
        margin-top: 70px;
        opacity: 0%;
    }
    100%{
        margin-top: 170px;
        opacity: 100%;
    }
}